html {
    font-family: 'Lato', sans-serif;
}

header,
#page-content,
footer {
    padding-left: 0;
}

#menu-button {
    margin-top:8px;
    padding:0 10px !important;
    height: 40px !important;
}

#menu-button i {
    line-height:175%;
}

nav .brand-logo {
    font-size:28px !important;
    white-space: nowrap;
}

#nav-header {
    /*
    background-image: url(../img/office.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    */
    background-color:#9c27b0;
    text-align:center;
    padding:20px;
    margin:0 0 20px;
}

#nav-header img.circle {
    max-width:150px;
    max-height:150px;
    border:3px solid #fff;
}

#nav-header h1 {
    margin:0;
    padding:0;
    font-size:26px;
    color:#fff;
}

#nav-header h3 {
    margin:5px 0 0;
    padding:0;
    font-size:16px;
    color:#fff;
}

.social-button {
    font-size:72%;
    padding-top:4px;
}

#about-quick-facts .card-title,
#about-quick-facts p {
    white-space: nowrap;
}


@media only screen and (min-width: 601px) {
    #menu-button {
        margin-top:12px;
    }
}

@media only screen and (min-width:993px) and (max-width:1200px) {
    .l-hide {
       display:none; 
    }
}

@media only screen and (min-width: 993px) {
    header,
    #page-content,
    footer {
        padding-left: 300px;
    }
    
    .container {
        width: 85%;
    }
    
    .navbar-fixed {
        display:none;
    }
}
